.index__div_first {
	justify-content: center;
	align-items: center;
	padding-top: 1rem;
}

.index__div_first_left__top {
	font-size: 40px;
	text-transform: uppercase;
	font-weight: bold;
}

.index__div_first_left__bottom {
	font-size: 22px;
	text-transform: uppercase;
	color: red;
	font-weight: bold;
}

.index__div_second {
	//max-width: 1100px;
	//margin: 0 auto;
	padding: 2rem;
	background-color: #FFDE06;
}

.index__div_second__text {
	max-width: 1100px;
	margin: 0 auto;
}

.divider {
	width: 75%;
	height: 1px;
	background-color: black;
	margin: 2rem auto;
}

.index__div_second__attention {
	font-weight: bold;
	font-size: 1.2rem;
}

.index__div_second__img {
	margin: 2rem auto;
}

.index__div__third {
	margin-top: 2rem;
}
.index__div__third__from {
	margin-top: 2rem;
	max-width: 1100px;
	justify-content: center;
}

.kart__title {
	font-weight: bold;
}

.kart__text {
	font-size: 0.9rem;
}

.index__div__third__alcohol {
	margin-top: 2rem;
	margin-bottom: 2rem;
	max-width: 1100px;
	justify-content: center;
}

.alcohol__text__title {
	color: red;
	text-transform: uppercase;
}

.index__div__fourth {
	padding: 2rem;
	background-color: #FFDE06;
}

.index__div__fourth__main {
	margin-top: 2rem;
	max-width: 1100px;
	justify-content: center;
}

.main_right__title {
	color: white;
	font-weight: bold;
}


.index__div__fifth {
	padding: 2rem;
}

.index__div__fifth__main {
	max-width: 1100px;
	margin: 0 auto;
}

.index__div__fifth__title {
	text-transform: uppercase;
	font-weight: bold;
}

.index__div__fifth__items {
	justify-content: center;
}

.index__div__fifth__item {
	margin: 1rem;
	img {
		margin-bottom: 1rem;
	}
}

.index__div__fifth__program {
	margin-top: 2rem;
}
.index__div__fifth__program-left {
	li {
		font-weight: bold;
	}
}

.index__div__sixth {
	padding: 2rem;
	background-color: #FFDE06;
}

.index__div__sixth__video {
	//margin-top: 1.5rem;
	max-width: 600px;
	//max-height: 320;
	margin: 0 auto;
	padding-top: 1rem;

}


.index__div__seventh__main {
	max-width: 1100px;
	margin: 2rem auto;
	li {
		font-weight: bold;
	}
}

@media screen and (max-width:650px) {
    .index__div_first_right {
        display: none;
    }

    .index__div_second__img {
    	display: none;
    }

    .alcohol__img {
    	display: none;
    }

    .index__div__fourth__main_left {
    	display: none;
    }

    .index__div__fifth__program-right {
    	display: none;
    }
}


