

<div class="footer">
	<div class="footer__top row">
		<div class="footer__top__item column medium-4 small-12">
			<h5>Адрес:</h5>
			<p>141606, Московская область, г. Клин, ул.&nbsp;Мира, д. 3, оф. 314</p>
			<p>Электронная почта: astral@gk-soft.ru</p>
			<p>Телефоны:<br>+7&nbsp;(49624)&nbsp;33-686<br>+7&nbsp;(49624)&nbsp;33-787<br>+7&nbsp;(903)&nbsp;173-2185</p>

		</div>
		<div class="footer__top__item column medium-4 small-12">
			<h5>Продукты</h5>
		</div>
		<div class="footer__top__item column medium-4 small-12">
			<h5>О компании</h5>
			<p><a href="www.gk-soft.ru">Группа компаний Софт</a></p>
		</div>
	</div>
	

	<div class="footer__divider"></div>
	<div class="footer__bottom">
		&copy; 2011-2019 Группа компаний Софт
	</div>
</div>