<div class="header">
	<div class="header__main row">
		<h3 class=" column small-12 medium-5"><a href="index.html">Группа компаний Софт</a></h3>
		<ul class="menu column small-12 medium-7">
		  <li><a class="header__main__link" href="index.html">Главная</a></li>
		  <li><a class="header__main__link" href="kassa.html" title="На страницу Кассы">Кассы</a></li>
		  <li><a class="header__main__link" href="uslugi.html">Услуги</a></li>
		  <li><a class="header__main__link" href="#">Four</a></li>
		</ul>
	</div>
</div>